@font-face {
    font-family: 'Arial';
    src: local('Arial'),
        url('../fonts/arial.woff2') format('woff2'),
        url('../fonts/arial.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/ariali.woff2') format('woff2'),
        url('../fonts/ariali.woff') format('woff');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/arialbd.woff2') format('woff2'),
        url('../fonts/arialbd.woff') format('woff');
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: 'Prata';
    src: local('Prata'),
        url('../fonts/Prata-Regular.woff2') format('woff2'),
        url('../fonts/Prata-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

